/* style.css */
.card {
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-alignment: center;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #ddd;
    -fx-background-radius:20px;
    -fx-border-radius:20px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.name-label {
    -fx-font-size: 14px;
    -fx-padding: 5;
    -fx-font-weight: bold;
}
.detail-label{
   -fx-alignment: center-left;

}

.image-view{
    -fx-border-radius:20px;
}

.root {
    -fx-background-color: linear-gradient(to bottom, #f0f4ff, #cce0ff);
}
